# Environment Variables
.env
.env.*
!.env.example

# Virtual Environments
venv/
.venv/
env/
ENV/

# Python Cache & Compiled Files
__pycache__/
*.py[cod]
*$py.class


# Session & Media Uploads
flask_session/
static/uploads/
*.log

# OS Files
.DS_Store
Thumbs.db
